<!-- beans.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <aop:aspectj-autoproxy/>
    <context:annotation-config/>
    <context:property-placeholder location="Dooray.properties"></context:property-placeholder>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
    </bean>

    <bean id="doorayHookSender" class="com.nhn.dooray.client.DoorayHookSender">
        <constructor-arg ref = "restTemplate"/><constructor-arg value = "https://hook.dooray.com/services/3204376758577275363/3727911831849652136/t0TgHWJ1S9SWgyLnHKk53Q"/>
    </bean>

    <bean id="messageSender" class="com.nhnacademy.edu.springframework.DoorayMessageSender">
        <constructor-arg ref = "doorayHookSender"/>
    </bean>



    <bean id="sendService" class="com.nhnacademy.edu.springframework.MessageSendService">
        <constructor-arg ref = "messageSender"/>
    </bean>

    <bean id="DoorayAspect" class="com.nhnacademy.edu.springframework.aspectj.DoorayAspect">
    </bean>






</beans>